<div class="mat-elevation-z0 cont" fxLayout="column">
    <div class="container" fxLayout="column">
      <div>Signup to Order from Smart Store</div>
      <br /><br />
      <form
        fxLayout="column"
        [formGroup]="signUpForm"
        (ngSubmit)="onCustomerSubmit()"
      >
      <mat-form-field appearance="outline">
        <mat-label>Enter your Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error
          *ngIf="
            signUpForm.get('username').touched &&
            signUpForm.get('username').hasError('required')
          "
        >
          {{ titleAlert }}
        </mat-error>
        <mat-error
          *ngIf="
            signUpForm.get('email').touched &&
            signUpForm.get('email').hasError('email')
          "
          >Enter a valid email</mat-error
        >
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" />
          <mat-error
            *ngIf="
              signUpForm.get('email').touched &&
              signUpForm.get('email').hasError('required')
            "
          >
            {{ titleAlert }}
          </mat-error>
          <mat-error
            *ngIf="
              signUpForm.get('email').touched &&
              signUpForm.get('email').hasError('email')
            "
            >Enter a valid email</mat-error
          >
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              signUpForm.get('password').touched &&
              signUpForm.get('password').hasError('required')
            "
          >
            {{ titleAlert }}
          </mat-error>
        </mat-form-field>
    
        <button
          class="submit"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!signUpForm.valid"
        >
          Submit
        </button>
      </form>
        
        <br /><br />
        
    
        <p [style.fontSize.px]="13">
          If registered yet? Click here to
          <a routerLinkActive="active" (click)="signup()">login</a>
        </p>
    
        <br /><br />
    

      
    </div>
  </div>
  